#allTasks {
    padding-top: 50px;
}

.tasksContainer {
    display: grid;
    grid-template-columns: 1fr 1fr;
    background-color: #D2DAC1;
    min-width: fit-content;
    width: 60%;
    margin: auto;
    border-radius: 20px;
}

.tasksContainer:first-of-type {
    background-color: #bfcf9d;
    padding: 20px;
}
/* ^ Basic temp shit for å se stuff idk */

.oneTask {
    border-radius: 20px;
    background-color: #E0E3D9;
    margin: 16px 8px;
    padding: 10px;

    display: grid;
    grid-template-columns: 1fr;
}

.oneTask button {
    margin: 10px auto;
    margin-top: 40px;
}

.tasksContainer h3 {
    width: fit-content;
    margin: 10px auto;
}

.tasksContainer p {
    font-size: 18px;
}

.tasksContainer .locInfo {
    background-color: #fffffea1;
    padding: 2px 10px;
    border-radius: 5px;
   
}

.oneTask .sliderContainer {
    width: fit-content;
    margin: 20px auto;
}

.oneTask .sliderContainer input {
    width: 30vh;  
    margin-left: 4vh; 
}

.oneTask .sliderContainer input:focus {
    border: none;
}

.oneTask .sliderContainer img {
    margin: 0;
    width: 2.5vh; 
    height: 2.5vh; 
    position: relative;
    left: -3vh;
    top: .4vh;
}

.oneTask .sliderContainer img:first-of-type {
    left: -34vh;
}

#tasksHowTo {
    text-align: center;
    border-radius: 5px;
    padding: 10px;
    font-size: 18px;
    background-color: #D2DAC1;
    width: fit-content;
    margin: auto;
     box-shadow: rgba(0, 0, 0, 0.3) 2px 2px 6px;
}

.dueTime {
    text-align: center;
}

/* Notification count */
.notifCount, .garnotifCount {
    position: relative; 
    bottom: 1.5vh; 
    left: 16.5%; 
    z-index: 100;
    width: 20px;
    height: 20px;
    font-size: 16px;
    border-radius: 50%;
    background-color: rgb(95, 52, 52);
    color: white;   
    text-align: center;
    padding: 1px;
    padding-bottom: 3px;
    box-shadow: rgba(0, 0, 0, 0.3) 2px 2px 6px;
}
.garnotifCount {
    left: 20%; 
}
.tasksNotifics {
    position: relative;
    top: 1.4vh;
}

/**//**//**//**//**//**//**//**//**//**//**//**/

@media only screen and (max-width: 1000px) {
    
.oneTask .sliderContainer {
    width: fit-content;
    margin: 10px auto;
}

.oneTask .sliderContainer input {
    width: 15vh;  
}

.oneTask .sliderContainer img:first-of-type {
    left: -19vh;
}

}

@media only screen and (max-width: 600px) {
    .oneTask .sliderContainer {
        width: fit-content;
        margin: 5px auto;
    }

    .oneTask .sliderContainer input {
        width: 13vh;  
    }
    
    .oneTask .sliderContainer img {
        display: none;
    }
    .notifCount, .garnotifCount {
        position: fixed; 
        bottom: 4%; 
        left: 12%; 
        z-index: 100;
        width: 20px;
        height: 20px;
        font-size: 16px;
    }
    .garnotifCount {
        left: 18%; 
    }
}