
.feedback {
    padding-top: 50px;
}

.letter {
    width: 40%;
    background-color: #D2DAC1;
    margin: auto;
    box-shadow:  2px 2px 4px rgba(0, 0, 0, 0.3);

    display: grid;
    grid-template-columns: 1fr;
    margin-bottom: 1vh;
    padding: .5vh;
    border-radius: 10px;
}

.sender {
    padding-left: 10px;
    font-weight: lighter;
}

.textField {
    width: 90%;
    margin: auto;
    background-color: #E0E3D9;
    border-radius: 6px;
    padding: 0 5px;
}

.btnContainer {
    display: flex; 
    justify-content: flex-end;
}

.delbtnMSG {
    width: fit-content;
    padding: 5px 15px;
    margin: 5px;
    margin-top: 10px;
}

#noMsg {
    text-align: center;
    color: rgb(83, 83, 83);
}

#msgBdy {
    max-width: max-content;
    min-width: max-content;
}

@media only screen and (max-width:800px) {
    .letter {
        width: 90%;
    }
}