.feedback {
    padding-top: 30px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 80%;
    margin: auto;
}

.letter div {
    margin: auto;
}

#delFeedName {
    color: rgb(180, 84, 84);
}

.delbtnMSG {
    margin-top: 20px !important;
    border: none;
    border-radius: 5px;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
}

#noMsg {
    text-align: center;
    color: rgb(83, 83, 83);
}

#msgBdy {
    max-width: 100%;
    min-width: fit-content;
}


#newFeedbackForm {
    max-width: 400px;
    text-align: center;
    background-color: #bec7ac;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
}

@media only screen and (max-width:800px) {
    .feedback {
        padding-top: 0px;
        grid-template-columns: 1fr;
        width: 98%;
    }

    .letter {
        width: 60%;
    }
}