.settingsContainer {
    display: grid;
    width: fit-content;
    margin: auto;
    text-align: center;

    color: rgb(28, 29, 28);
    padding: 20px;
    border-radius: 20px;
    background-color: #bec7ac;
    box-shadow: 0 14px 14px 0 rgba(0, 0, 0, 0.3);
}

.settingsContainer .btn {
    width: 300px;
    margin: 10px;
}