html,
body {
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    background-color: rgba(207, 208, 203, 1);
    font-family: 'Red Hat Text', sans-serif;
    font-size: 16px;

    box-sizing: border-box;
}

main {
    margin-top: 10vh;
    min-height: 90vh;
}
main .container {
    height: 700px;
    min-height: 100%;
}

footer {
    background-color: rgba(99, 103, 93, 1);
    color: rgb(182, 182, 182);
}
@media only screen and (max-width: 800px) {
    footer {
        padding-bottom: 90px;
    }
}
@media only screen and (max-width: 500px) {
    main {
        min-height: 110vh;
    }
}
