html,
body {
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    background-color: rgba(207, 208, 203, 1);
    font-family: 'Red Hat Text', sans-serif;
    font-size: 16px;

    box-sizing: border-box;
}

main {
    margin-top: 12vh;
    min-height: 90vh;
}

main .container {
    height: 700px;
    min-height: 100%;
}

h1 {
    text-align: center;
    margin-top: 20px !important;
}

.loading {
    text-align: center;
    background-color: rgba(99, 103, 93, 1);
    padding: 32px 5px;
    font-size: 18px;
    width: 80px;
    border-radius: 50%;
    color: white;
    border: white solid 2px;
    margin: 50px auto;
}



footer {
    background-color: rgba(99, 103, 93, 1);
    color: rgb(235, 235, 235);
    text-align: right;
}

footer img {
    width: 40%;
    margin: 0 30%;
    filter: brightness(0%);
}

@media only screen and (max-width: 800px) {
    footer {
        padding-bottom: 90px;
    }
}

@media only screen and (max-width: 500px) {
    main {
        min-height: 110vh;
    }
}