
.allInvitesContainer {
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 80%;
    margin: auto;
}

.letter {
    min-width: 90%;
    background-color: #D2DAC1;
    margin: 5% auto;

    display: grid;
    grid-template-columns: 1fr;
    margin-bottom: 1vh;
    padding: .5vh;
    border-radius: 10px;
}

.sender {
    padding-left: 10px;
    font-weight: lighter;
}

.textField {
    width: 90%;
    margin: auto;
    background-color: #E0E3D9;
    border-radius: 6px;
    padding: 0 5px;
}

.btnContainer {
    display: flex; 
    justify-content: flex-end;
}

.delbtnInv {
    width: fit-content;
    padding: 5px 15px;
    margin: 5px;
    margin-top: 10px;
}

#noInv {
    text-align: center;
    color: rgb(83, 83, 83);
}

.btnsContainerInv{
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: fit-content;
    height: fit-content;
    margin: 20px auto;
}
.btnsContainerInv button {
    margin: 10px;
    max-width: 160px;
}
.backBtnContainer {
    width: fit-content;
    margin: auto;
}
.backBtn {
    margin: auto;
    margin-top: 30px !important;
}

.invites {
    padding-top: 30px;
}

@media only screen and (max-width:800px) {
    .allInvitesContainer {
        grid-template-columns: 1fr;
    }
}

@media only screen and (max-width:500px) {
    .btnsContainerInv{
        grid-template-columns: 1fr;
    }
}